#gameBoard{
    border: 3px solid;
    
}
#container{
    text-align: center;
    
}
#scoreTxt{
    font-size: 100px;
}
#resetBtn{
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
body{
    background-color: plum;
}